.db-debug-1{
    background-color: red;
}

.db-debug-2{
    border: 2px solid red;
}

/*******************/
/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

header .logo,
header .icons{
    width: 50px;
}

header .form-control{
    background-color: var(--bs-gray-300);
}

header .icons a:not(.icons a:last-of-type),
header .large-logo{
    display: none;
}

.icons a i{
    color: var(--bs-gray-800);
}

.icons a:last-of-type i{
    color: var(--bs-orange);
}

/*******************/
/* WRAPPER */
.wrapper{
    height: 100vh;
    padding-top: 50px;
    overflow-y: hidden;
}

.sidebar{
    width: 200px;
}

main{
    width: 100%;
    overflow-y: auto;
}

.card{
    margin-top: 1.5rem;
}


/*|||||||||||||*/
/* MEDIA QUERY */

@media screen and (min-width: 992px) {
    header .logo,
    header .icons{
    width: 150px;
    }

    header .small-logo{
        display: none;
    }

    header .icons a:not(.icons a:last-of-type),
    header .large-logo{
        display: inline-block;
    }
}