.db-debug-1{
    background-color: red;
}

.db-debug-2{
    border: 2px solid red;
}

img{
    width: 100%;
}

/*******************/
/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

header .logo,
header .icons{
    width: 150px;
}

header .form-control{
    background-color: var(--bs-gray-300);
}

/*******************/
/* WRAPPER */
.wrapper{
    height: 100vh;
    padding-top: 50px;
    overflow-y: hidden;
}

.sidebar{
    width: 200px;
}

main{
    width: 100%;
    overflow-y: auto;
}

.card{
    margin-top: 1.5rem;
}